.container {
  padding: 50px;
  display: flex;
}
.imgContainer {
  position: relative;
  width: 100px;
  height: 100px;
}
.left {
  flex: 2;
}
.right {
  flex: 1;
}
.table {
  width: 100%;
  border-spacing: 20px;
}
.name {
  font-weight: 500;
  color: #d1411e;
  font-size: 18px;
}
.total {
  font-weight: 500;
  font-size: 18px;
}

.wrapper {
  width: 90%;
  max-height: 300px;
  padding: 50px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: slategrey;
  color: aliceblue;
}
.totalTextTitle {
  margin-left: 10px;
}
.button {
  height: 30px;
  color: #d1411e;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}
